@import "tailwindcss";

:root {
  --background: #00377B;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: radial-gradient(circle at top center, #004e9a 0%, #00377B 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Custom Text Selection */
::selection {
  background-color: #facc15; /* yellow-400 */
  color: #00377B;
}

/* Hide Scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Safe Area for Bottom Nav */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

